<h2>Famous Actors Who Never Went to Acting School</h2>

<div>
    <ul>
        <li>Ben Kingsley</li>
        <li>Paresh Rawal</li>
        <li>Rajat Kapoor</li>
        <li>Brad Pitt</li>
        <li>Demi Moore</li>
    </ul>
</div>