@model string

<h1>You Cancelled Out Of the Sign In Process</h1>

<h2>You cancelled the login process mid-way. Do you want to <a href="#">create an account with a user name and password</a> instead?</h2>

<h2><b>Specific message received from Google:</b>@Model</h2>

