@model Plus.Code.GooglePlusAPIData

@{
    string email = null;
    string firstName = Model?.Name?.FirstName;
    string lastName = Model?.Name?.LastName;
    string fullName = Model?.FullName;

    if (Model?.Emails != null && Model.Emails.Count > 0)
    {
        email = Model.Emails[0].Value;
    }
}
<h1>Welcome, <a href="mailto:@email" title="@fullName">@firstName</a>!</h1>
