* {
    box-sizing: border-box;
}

#loner {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 1px solid green;
    left: 80px;
    top: 80px;
    box-shadow: 1px 1px 3px 2px lightseagreen;
}

#outer {
    width: 600px;
    height: 600px;
    background-color: slateblue;
    border: 1px solid purple;
    position: absolute;
    left: 100px;
    top: 100px;
}

#innerOnItsOwnSeparateLayer {
    position: absolute;
    z-index: 2;
    background-color: orchid;
    border: 1px solid brown;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
}

#innerOnSameLayerAsOuter {
    position: absolute;
    background-color: yellow;
    border: 1px solid orange;
    width: 350px;
    height: 350px;
    left: 0;
    top: 0;
}

div {
    text-align: center;
    font-size: 2rem;
    color: black;
}