@model string

<h1>Error Signing In</h1>

<h2>Sorry, Something wierd happened. It looks like you won't be able to sign in with Google. Why don't you <a href="#">create an account with a user name and password</a> instead?</h2>

<h2><b>Exception Message: </b>@Model</h2>
