
@{
    ViewBag.Title = "Upload files using Ajax without using FormData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload files using Ajax without using <code>FormData</code></h2>

<div id="explanation">
    <p>
        In this example, I use the HTML5 drag and drop API to allow the user to drag and drop files into the form. When the user drops them, I filter out only the image files and display a preview for them.
    </p>

    <p>
        Then, I upload the files via an AJAX request but without using the <code>FormData</code> object.
    </p>

    <p>I read the files using a <code>FileReader</code> and then compose a string that looks exactly like the payload of a <code>enctype = "multipart/form-data"</code> request and send a POST request using the <code>XmlHttpRequest</code> object to send those files to the server. I set the <code>ContentType</code> request header appropriately to <code>multipart/form-data</code> with the <code>boundary</code>.</p>

    <p>Note that I removed the <code>enctype</code> and <code>method</code> attributes from the <code>form</code> element.</p>
</div>

<div id="formContainer">
    <form>
        <div id="message" style="display: none;"></div>
        <input type="hidden" name="firstName" id="hiddenFirstName" />
        <span>Drag and drop any image files into this box to upload them.</span>

        <span id="numImages" style="display: none;"></span>
        <input type="submit" value="" id="btnSubmit" style="display: none;" />
        <div id="previewContainer"></div>
    </form>
</div>

@section scripts {
    <script src="~/Scripts/Ajax.js"></script>
}

@section styles {
    <link href="~/Content/Ajax.css" rel="stylesheet" />
}