
@{
    ViewBag.Title = "HTML 5 Drag and Drop API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HTML 5 Drag and Drop API</h2>

<div id="explanation">
    <p>
        In this example, I use the HTML5 drag and drop API to allow the user to drag and drop files into the form. When the user drops them, I filter out only the image files and display a preview for them.
    </p>

    <p>
        The files in the <code>dataTransfer.files</code> object won't upload on their own when you post a form. So, on the button click of the submit button, I new up a <a href="https://developer.mozilla.org/en-US/docs/Web/API/FormData"><code>FormData</code></a> object and <a href="https://stackoverflow.com/a/8244082/303685">post it using an AJAX request made with jQuery</a>. For more information about using FormData, please read the article on MDN titled <a href = "https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects">Using FormData objects</a>.
    </p>
</div>

<div id="formContainer">
    <form enctype="multipart/form-data" method="POST">
        <div id = "message" style = "display: none;"></div>
        <input type ="hidden" name="firstName" id="hiddenFirstName" />
        <span>Drag and drop any image files into this box to upload them.</span>

        <span id="numImages" style="display: none;"></span>
        <input type="submit" value="" id="btnSubmit" style="display: none;" />
        <div id="previewContainer"></div>
    </form>
</div>

@section scripts {
    <script src="~/Scripts/DragAndDrop.js"></script>
}

@section styles {
    <link href="~/Content/DragAndDrop.css" rel="stylesheet" />
}