
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose the example you want to run</h2>

<p>There are three examples in this project:</p>

<ol>
    <li>
        <div><a href="@Url.Content("~/Home/InputTypeFile")"><code>input type = "file"</code></a></div>
        <div>Uses a hidden <code>input</code> control of <code>type = file</code> to select image files, displays their preview and uploads the files.</div>
    </li>

    <li>
        <div><a href="@Url.Content("~/Home/DragAndDrop")">HTML5 Drag and Drop API</a></div>
        <div>Uses the HTML5 Drag and Drop API to allow the user to drag files from Windows explorer, displays their preview, and uploads them. The files are uploaded by <i>posting</i> a <code>FormData</code> object via an AJAX request made with jQuery.</div>
    </li>

    <li>
        <div><a href="@Url.Content("~/Home/AjaxSingleFile")">Upload files using Ajax but without <code>FormData</code></a></div>
        <div>Uploads multiple files using the jQuery ajax function and the plain old JavaScript <code>XmlHttpRequest</code> object but without using the <code>FormData</code> object.</div>
    </li>
</ol>

@section styles {
    <link href="~/Content/Index.css" rel="stylesheet" />
}