body {
    margin: 10px;
    padding: 10px;
}

#divExplanation {
    margin-bottom: 40px;
}

#divMessage > h4 {
    color: cadetblue;
}

#divMessage > #message {
    color: cornflowerblue;
}

#divMessage {
    margin-bottom: 40px;
}