body {
    margin: 10px;
    padding: 10px;
}

#divExplanation {
    margin-bottom: 40px;
}

h1, h4 {
    font-size: 1.5rem;
}

#divMessage > #message {
    color: darkslateblue;
}

#divMessage {
    margin-bottom: 40px;
}